<div id="map"></div>
    
    

<div class="container">
    <div class="jumbotron text-left">
        <p>
            Aniwhere tours was founded in 2010 by Mr Ashish Jobanputra in Ahmedabad Since its inception it has been catering to the Gujarat
            tourists and is specialized in offering affordable customized packages and satisfaction of its cleints. It offers
            all kind of tour related serivce with personal touch like ticketing,hotel booking visa,forex and package tours.Its
            motto is to cater each tourist with personalized counseling and provide a hassle free tour "WHEREVER YOU WISH".
        </p>
    	<span class="glyphicon glyphicon-envelope"></span> 
    	<span class="glyphicon glyphicon-heart"></span>   
    </div>
    <div class="col-md-8">
        <div style="height:500px;">          
       <iframe
  width="100%"
  height="100%"
  frameborder="0" style="border:0"
  src="https://www.google.co.in/maps/embed/v1/place?key=AIzaSyBjVyfPjhnu6UPR6f63-D453zBOeeWitFE
    &q=19.2034051,72.839885" allowfullscreen>
</iframe>
</div>
     </div>
    
</div>    