<div class="container">
    <div class="row">
        <h2>Our Domestic Tours</h2>
    </div>
    <br/>

    <div class="row">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Kerala</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4">
                    <div class="hovereffect text-center">
                        <img class="img-responsive" src="images/Kerala.jpg" alt="Kerala Image">
                        <div class="overlay">
                            <h2>Kerala Enquiry</h2>
                            <a class="info" href="#">Click here</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">


                    <p><b>Inclusions:</b> </p>
                    <ul>
                        <li>Kerala tourist VIsa </li>
                        <li>Return Airport transfers </li>
                        <li>Accomodation at 4* hotel on twin sharing basis </li>
                        <li>Daily breakfast and dinner as per itinary</li>
                    </ul>
                    <p> <b>Sightseeing:</b> </p>
                    <ul>
                        <li>Kerala City tour</li>
                        <li>Dhow Cruise Dinner</li>
                        <li>Dessert Safari with belly dance</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Kerala</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4">
                    <div class="hovereffect text-center">
                        <img class="img-responsive" src="images/Kerala.jpg" alt="Kerala Image">
                        <div class="overlay">
                            <h2>Kerala Enquiry</h2>
                            <a class="info" href="#">Click here</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">


                    <p><b>Inclusions:</b> </p>
                    <ul>
                        <li>Kerala tourist VIsa </li>
                        <li>Return Airport transfers </li>
                        <li>Accomodation at 4* hotel on twin sharing basis </li>
                        <li>Daily breakfast and dinner as per itinary</li>
                    </ul>
                    <p> <b>Sightseeing:</b> </p>
                    <ul>
                        <li>Kerala City tour</li>
                        <li>Dhow Cruise Dinner</li>
                        <li>Dessert Safari with belly dance</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Kerala</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4">
                    <div class="hovereffect text-center">
                        <img class="img-responsive" src="images/Kerala.jpg" alt="Kerala Image">
                        <div class="overlay">
                            <h2>Kerala Enquiry</h2>
                            <a class="info" href="#">Click here</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">


                    <p><b>Inclusions:</b> </p>
                    <ul>
                        <li>Kerala tourist VIsa </li>
                        <li>Return Airport transfers </li>
                        <li>Accomodation at 4* hotel on twin sharing basis </li>
                        <li>Daily breakfast and dinner as per itinary</li>
                    </ul>
                    <p> <b>Sightseeing:</b> </p>
                    <ul>
                        <li>Kerala City tour</li>
                        <li>Dhow Cruise Dinner</li>
                        <li>Dessert Safari with belly dance</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>