 <html>
  
  <script type="text/javascript">
  	
  function getUrlData() {
      var destination = getParameter("destination");
      document.getElementsByName("destination").value = destination;
  }
  </script>

<div class="container">
	<div class="jumbotron text-left">
  	
  <div class="row">
		<label for="name">Your name: </label><br />
		<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="email">Your email:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="destination">Your Destination:</label><br />
		<input id="destination" class="input" name="destination" value=getUrlData(); type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="message">Your message:</label><br />
		<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send email" />
  </div>

</div>
</html>
