<div class="container">
	
    <div class="row">
        <h2>Our International Tours</h2>
    </div>
    <br/>

    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Dubai</h3>
            </div>
            <div class="panel-body">
                <div class="col-lg-4 scol-sm-4 col-md-4 col-xl-4">
                    <div class="hovereffect text-center">
                        <img class="img-responsive" src="images/Dubai2.jpg" alt="Dubai Image">
                        <div class="overlay">
                            <h2>Dubai Enquiry</h2>
                            <a class="info" href="/enquiry?destination='Dubai'">Click here</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">

				<div class="backgroundtheme">
                    <p><b>Inclusions:</b> </p>
                    <ul>
                        <li>Dubai tourist VIsa </li>
                        <li>Return Airport transfers </li>
                        <li>Accomodation at 4* hotel on twin sharing basis </li>
                        <li>Daily breakfast and dinner as per itinary</li>
                        <li>All transfers and Sightseeing on seat in coach/Van basis</li>
                    </ul>
                    <p> <b>Sightseeing:</b> </p>
                    <ul>
                        <li>Dubai City tour</li>
                        <li>Dhow Cruise Dinner</li>
                        <li>Dessert Safari with belly dance</li>
                        <li>1 way monorail</li>
                        <li>Dubai mall with water show</li>
                        <li>BurjKhalifa Top view with entry ticket</li>
                        <li>Abu Dhabi city tour</li>
                    </ul>

                	</div>
             	</div>
           	</div>
           </div>
    </div>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Singapore</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4">
                    <div class="hovereffect text-center">
                        <img class="img-responsive" src="images/singapore3.jpg" alt="Dubai Image">
                        <div class="overlay">
                            <h2>Singapore Enquiry</h2>
                            <a class="info" href="#">Click here</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">


                    <p><b>Inclusions:</b> </p>
                    <ul>
                        <li>Singapore tourist VIsa </li>
                        <li>Return Airport transfers </li>
                        <li>Accomodation at 3* hotel on twin sharing basis </li>
                        <li>Daily breakfast and dinner as per itinary</li>
                        <li>All transfers and Sightseeing on seat in coach/Van basis</li>
                    </ul>
                    <p> <b>Sightseeing:</b> </p>
                    <ul>
                        <li>Singapore City tour</li>
                        <li>Singapore flyer,Night Safari</li>
                        <li>Afternoon Sentosa Island with one way cable Car</li>
                        <li>Underwater world,Dolphim show</li>
                        <li>Butterfly Park & Insect Kingdom Or Luge and Skye Ride or 4D MAGIC(any one) with free popcorn</li>
                        <li>Wings of time,Universal studio,Garden by the Bay</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Malaysia</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4">
                    <div class="hovereffect text-center">
                        <img class="img-responsive" src="images/malaysia2.jpg" alt="Dubai Image">
                        <div class="overlay">
                            <h2>Malaysia Enquiry</h2>
                            <a class="info" href="#">Click here</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">


                    <p><b>Inclusions:</b> </p>
                    <ul>
                        <li>Malaysia tourist VIsa </li>
                        <li>Return Airport transfers </li>
                        <li>Accomodation at 3* hotel on twin sharing basis </li>
                        <li>Daily breakfast and dinner as per itinary</li>
                        <li>All transfers and Sightseeing on seat in coach/Van basis</li>
                    </ul>
                    <p> <b>Kualalumpur Sightseeing:</b> </p>
                    <ul>
                        <li>Half day city tour</li>
                        <li>KL Tower Entry Ticket</li>
                        <li>Batu Caves,Sunway lagoon 5 park tickets</li>
                    </ul>
                    <p> <b>Genting Highland Sightseeing:</b> </p>
                    <ul>
                        <li>1 way cable ticket</li>
                        <li>Show world ticket</li>
                        <li>Indoor theme park ride</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">London</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4">
                    <div class="hovereffect text-center">
                        <img class="img-responsive" src="images/london1.jpg" alt="Dubai Image">
                        <div class="overlay">
                            <h2>London Enquiry</h2>
                            <a class="info" href="#">Click here</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">


                    <p><b>Inclusions:</b> </p>
                    <ul>
                        <li>Tourist Visas </li>
                        <li>Return Airport transfers </li>
                        <li>Accomodation at 3* hotel on twin sharing basis </li>
                        <li>Daily breakfast and dinner as per itinary</li>
                        <li>All transfers and Sightseeing on seat in coach/Van basis</li>
                    </ul>
                    <p> <b>London Sightseeing:</b> </p>
                    <ul>
                        <li>One day London Unlimited Hop on Hop Bus Ticket</li>
                        <li>Madame Tussauds & Marvel Super Heroes 4D Ticket only</li>
                        <li>London eye ticket only,Cruise on River Thames</li>
                    </ul>
               </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Paris</h3>
            </div>
            <div class="panel-body">

                <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4">
                    <div class="hovereffect text-center">
                        <img class="img-responsive" src="images/paris2.jpg" alt="Dubai Image">
                        <div class="overlay">
                            <h2>Paris Enquiry</h2>
                            <a class="info" href="#">Click here</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8">


                    <p><b>Inclusions:</b> </p>
                    <ul>
                        <li>France tourist VIsa </li>
                        <li>Return Airport transfers </li>
                        <li>Accomodation at 3* hotel on twin sharing basis </li>
                        <li>Daily breakfast and dinner as per itinary</li>
                        <li>All transfers and Sightseeing on seat in coach/Van basis</li>
                    </ul>
                    <p> <b>Paris Sightseeing:</b> </p>
                    <ul>
                        <li>One day Paris Hop On Hop Off Bus Pass</li>
                        <li>Eiffel Tower 02nd level Entry Ticket with 1 hour Seine River Cruise</li>
                        <li>Louvre Museum with Audio guide</li>
                        <li>Full day Disneyland one day two parks with return metro train ticket from city center</li>
                    </ul>

                </div>
            </div>
        </div>
        </div>
    </div>